.App {
  text-align: center;
  padding: 0 40px;
  color: beige;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: x-large;
  color: darkslategrey
}

.filter-container {
display: flex;
justify-content:space-between;
font-size: medium;
color: darkolivegreen;
}

.add-input-container {
  margin-block: 20px;
  width: 40%;
  height: 5px;
  padding: 10px 20px;
  justify-content:center;
  color: dimgray;
  border-radius: 5px;
 display: inline;
}

.todo-list-container {
  color: lightslategray;
  background-color: seashell;
  border: 1px;
  justify-content: space-between ;
  width: 100%;
  text-align:center ;
}